body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1E1F23; /* Fondo oscuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px; /* Agregar padding para evitar que el contenido toque los bordes */
}

body.registro-3 .container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 400px; /* Ajustar el max-width */
}

body.registro-3 h1 {
    font-size: 24px; /* Ajustar tamaño para que sea más pequeño */
    color: white;
    margin-bottom: 20px;
}

body.registro-3 .registration-form label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

body.registro-3 .registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body.registro-3 .btn {
    background-color: #431999; /* Botón azul */
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px 0; /* Ajustar el margen para una mejor separación */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

body.registro-3 .btn:hover {
    background-color: #2e1079; /* Cambiar el color al pasar el mouse */
}

body.registro-3 .success-message {
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
