/* inicio */
body, html {
    margin: 0;
    background-color: #1E1F23;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-arrow img {
    width: 30px; /* Ajusta el tamaño según tu preferencia */
    height: auto;
}

.back-arrow a:hover img {
    opacity: 0.7; /* Efecto al pasar el cursor */
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 30px;
}

.image-container {
    margin: 30px 0;
}

.main-image {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.description {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}

.buttons {
    margin: 30px 0;
}

.btn {
    background-color: #431999;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    max-width: 350px;
}

.btn:hover {
    background-color: #431999;
}

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
    .description {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
    }
    .btn {
        font-size: 16px;
        padding: 12px 20px;
    }
}


/* registro-1 */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1E1F23; /* Fondo oscuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px; /* Agregar padding para evitar que el contenido toque los bordes */
}

/* Estilos específicos para Registro 1 */
body.registro-1 .container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 600px; /* Aumentar el max-width */
}

body.registro-1 h1 {
    font-size: 36px; /* Tamaño grande para el título */
    color: white;
    margin-bottom: 20px;
}

body.registro-1 .image-container {
    margin: 20px 0;
}

body.registro-1 .main-image {
    width: 100%;
    max-width: 100%; /* Asegurarse de que la imagen ocupe todo el ancho disponible */
    height: auto;
}

body.registro-1 .intro-text {
    font-size: 18px; /* Tamaño más grande para el texto de introducción */
    font-family: "Montserrat", sans-serif;
    color: #ccc;
    margin-bottom: 30px;

}

body.registro-1 .btn {
    background-color: #431999; /* Botón azul */
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    max-width: 350px;
}

body.registro-1 .btn:hover {
    background-color: #431999;
}

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    body.registro-1 h1 {
        font-size: 28px;
        font-family: "Montserrat", sans-serif;
    }
    body.registro-1 .intro-text {
        font-size: 18px;
    }
    body.registro-1 .btn {
        font-size: 16px;
        padding: 12px 20px;
    }
}

/* Estilos generales */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1E1F23; /* Fondo oscuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px; /* Agregar padding para evitar que el contenido toque los bordes */
}

/* Estilos específicos para Registro 2 */
body.registro-2 .header {
    position: absolute;
    top: 20px;
    left: 20px;
}

body.registro-2 .back-link {
    color: white;
    text-decoration: none;
}

body.registro-2 .back-icon {
    width: 24px;
    height: 24px;
}

body.registro-2 .container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 600px; /* Aumentar el max-width */
}

body.registro-2 h1 {
    font-size: 36px; /* Tamaño grande para el título */
    color: white;
    margin-bottom: 40px; /* Aumentar el espacio entre el encabezado y el primer cuadro */
    font-family: "Montserrat", sans-serif;
}

body.registro-2 .options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

body.registro-2 .option-box {
    border: 3px solid #431999; /* Borde azul grueso */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 250px; /* Hacer los cuadros más pequeños */
}

body.registro-2 .option-image {
    width: 100%;
    max-width: 200px; /* Ajustar el tamaño de la imagen */
    height: auto;
    margin-bottom: 10px;
}

body.registro-2 .btn {
    background-color: #431999; /* Botón azul */
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

body.registro-2 .btn:hover {
    background-color: #431999;
}

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    body.registro-2 h1 {
        font-size: 28px;
    }
    body.registro-2 .btn {
        font-size: 16px;
        padding: 12px 20px;
    }
}

/* Estilos generales */
body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1F23; /* Fondo oscuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px; /* Agregar padding para evitar que el contenido toque los bordes */
}

/* Estilos específicos para Registro 3 */
body.registro-3 .header {
    position: absolute;
    top: 20px;
    left: 20px;
}

body.registro-3 .back-link {
    color: white;
    text-decoration: none;
}

body.registro-3 .back-icon {
    width: 24px;
    height: 24px;
}

body.registro-3 .container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

body.registro-3 h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

body.registro-3 .registration-form {
    text-align: left;
    margin-top: 20px;
}

body.registro-3 .registration-form label {
    display: block;
    font-size: 18px;
    color: #ccc;
    margin-bottom: 5px;
}

body.registro-3 .registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

body.registro-3 .btn {
    background-color: #431999;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

body.registro-3 .btn:hover {
    background-color: #2e1079;
}

/* Estilos generales */
body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1F23; /* Fondo oscuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px; /* Agregar padding para evitar que el contenido toque los bordes */
}

/* Estilos específicos para Registro 3 */
body.registro-3 .header, body.login .header {
    position: absolute;
    top: 20px;
    left: 20px;
}

body.registro-3 .back-link, body.login .back-link {
    color: white;
    text-decoration: none;
}

body.registro-3 .back-icon, body.login .back-icon {
    width: 24px;
    height: 24px;
}

body.registro-3 .container, body.login .container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

body.registro-3 h1, body.login h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

body.registro-3 .registration-form, body.login .login-form {
    text-align: left;
    margin-top: 20px;
}

body.registro-3 .registration-form label, body.login .login-form label {
    display: block;
    font-size: 18px;
    color: #ccc;
    margin-bottom: 5px;
}

body.registro-3 .registration-form input, body.login .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

body.registro-3 .btn, body.login .btn {
    background-color: #431999;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

body.registro-3 .btn:hover, body.login .btn:hover {
    background-color: #2e1079;
}
.error-message {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}


.patras {
    
}